a {
  text-decoration: none;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  display: flex;
  place-items: center;
  max-width: 1280px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
}
